/*index.html에 선언된 스타일시트*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Pretendard", sans-serif;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    /*border: solid 1px red;*/
    width: 100%;
    background: white;
}
nav {
    /*border: solid 1px blue;*/
    width: 90%;
    height: 50px;
    margin: 0 auto;
}


#nav_logo {
    display: grid;
    place-items: center;
    float: left;
    /*border: solid 1px green;*/
    height: 50px;
}


#nav_menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    line-height: 50px;
}
#nav_menu li {
    font-size: 14px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: center;
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* 100%의 너비로 변화 */
    }
}



#nav_menu button {
    font-weight: 200;
    position: relative; /* absolute 위치 설정을 위한 상대적 위치 설정 */
    border: none;
    background: none;
}
#nav_menu button:hover {
    font-weight: 700;
    color: #FF553E;
}
#nav_menu button:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px; /* border-bottom의 두께 */
    background-color: #FF553E;
    animation: slideIn 0.5s ease; /* slideIn 애니메이션을 0.5초 동안 적용 */
}
#nav_menu button:active {
    opacity: .5;
}